/* para resetar o css forçado pelo navegador, podemos utilizar o seguinte o cod: */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:  border-box;
}
/* o sinal asterisco representa a pagina HTML, e com isso podemos aplicar alteraçoes na pagina inteira .Assim zeramos o padding e a margin padrão.  */

body {
    background-color: rgb(202, 202, 202);
    color: rgb(29, 95, 139);
    line-height: 1.5;
}

.curriculo {
    width: 800px;
    background-color: white;
    margin: 40px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
}

header {
    text-align:  center;
    margin-bottom: 30px;
}

section {
     margin-bottom: 25px;  
}

h2 {
    color: rgb(61, 43, 226);
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

p, li {
    font-size: 15px;
}

ul {
    list-style: none;
    padding-left: 10px;
}

.job  {
    margin-top: 10px;
}

.skills  {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills li {
    background-color: teal;
    color: aliceblue;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;    
}

footer  {
   text-align: center;
}