*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    background-color: darkred;
    color: white;
    height: 100px;
    justify-content: right;
    
}

.navegacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px ;
}


nav a{
    text-decoration: none;
    color: white;
    padding: 20px;
}