body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: azure;
    color: darkblue;
}

header, footer {
    text-align: center;
    background-color: slateblue;
    color: white;
    padding: 20px 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 150px 150px 150px;
    gap: 15px;
    padding: 20px;
    background-color: rgb(178, 154, 243);
    margin: 20px auto;
    max-width: 900px;
    border-radius: 20px;
}

/* itens do grid */
 .item {
    background-color: slateblue;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
/* posicionamento manual */
/* item1 ocupa 2 linha se 1 linha */

.item1 {
    background-color: slateblue; 
    grid-column: 1/3; /* ocupa da coluna 1 ate a 3 */
    grid-row: 1/2; /* ocupa só a 1 linha */
}

/* item2 coluna 1, mas 2 linhas */
.item2 {
    background-color: rgb(88, 76, 170);
    grid-column: 3/4 ; /*terceira coluna */
    grid-row: 1/3; /*ocupa da linha 1 até a 3*/
}

.item3 {
    background-color: rgb(53, 44, 112);
    grid-column: 1/3 ;
    grid-row: 2/3;
}

.item4 {
    background-color: rgb(46, 40, 87);
    grid-column: 1/3 ;
    grid-row: 2/3;
}

.item5 {
    background-color: rgb(22, 19, 41);
    grid-column: 2/4 ;
    grid-row: 3/4;
}

.item6 {
    background-color: rgb(0, 0, 0);
    grid-column: 0/4 ;
    grid-row: 3/4;
}

